name: test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Cache
      uses: Swatinem/rust-cache@v2

    - name: Install toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Run test
      run: cargo test
